body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  width: 40%;
  margin: 20px 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-data {
  list-style: none;
  padding: 0;
}

#user-data li {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="number"],
input[type="text"],
select {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
}

button:hover {
  background-color: #45a049;
}

#user-list {
  margin-top: 20px;
}

#user-list li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#user-list li div {
  display: flex;
  align-items: center;
}

#user-list button {
  margin-left: 10px;
  padding: 5px 10px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
